html {
    height: 100%;
}
body {
    min-height: 100%;
}
.task2 {
    background-image: url("http://kep.index.hu/1/0/1040/10401/104017/10401753_3dd66c976c58410699098f1d1fb98c26_wm.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    background-size: 30%;
}