.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.axis .tick line {
    stroke: rgba(0, 0, 0, 0.1);
}

.reader {
    fill: #ededed;
}

.eventline {
    stroke: #79e11b;
}

.event {
    fill: #79e11b;
    z-index: 998;
}

.event:hover {
    fill: #e8f527;
}

text {
    fill: #e6e6e6;
}

.line {
    fill: none;
    stroke: #00BFFF;
    stroke-width: 0.3px;
}

#popup {
    z-index: 999;
    position: fixed;
    top: 6%;
    left: 5%;
    width: 90%;
    text-shadow: 1px 1px #333333;
    background-color: rgba(169,169,169,0.8);
    border: 1px solid rgba(255,255,255,0.8);
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.arrow {
    position: absolute;
    top: 15px;
    width: 30px;
    height: 30px;
    background-image: url(arrow.png);
    background-size: cover;
}

#leftarrow {
    right: 185px;
}

#rightarrow {
    transform: rotate(180deg);
    right: 150px;
}

.panel {
    position: absolute;
    background: rgb(65,105,225);
    border: 1px solid white;
    text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 1px;
    font-size: 12px;
    opacity: .8;
}

#tooltip {
    left: 70px;
    top: 11px;
    width: 110px;
    height: 43px;
    padding: 0px 16px 0px 8px;
}

#sidebar {
    right: 31px;
    top: 11px;
    pointer-events: none;
    width: 230px;
    padding: 0px 16px 0px 8px;
    text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 1px;
    text-align: right;
    text-shadow: 0px 0px #ffffff;
}

.invisible {
    display: none;
}

html {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

body {
    height: 95%;
    min-height: 95%;
    max-width: 98%;
    margin: auto;
    text-align: justify;
    color: white;
    background: rgb(47, 79, 79);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
